#bodystyle{
	width: 100%;
	margin-top: 0px;
	position: absolute;
	background-color: white;
	height: 782px;
}

#header{
	height:70px;
	width:100%;
	background-color:#99CCCC;
}

.logo{
	height:70px;
	margin-left:100px;
	float:left
}

.text1{
	font-size:20px;
	color: white;
	font-family:"楷体";
	padding-left:20px;
	padding-top:35px;
	float:left;
}

.menu{
	padding-left:500px;
	float:left;
}

.t{
	float:left; 
	display:inline;
	font-family: "楷体";
    padding-left:20px;
    text-align: center;
	font-size: 22px;
	margin-top:20px;
	color: black;
	
}

#denglu{
	margin-left: 870px;
	margin-top: 80px;
	margin-right: 180px;
	height: 400px;
	width: 330px;
	/*border-width: 2px;*/
	border-style: double;
	
}

#left{
	margin-left: 80px;
	margin-top: 70px;
	float: left;
	width: 600px;
}

#logo2{
	height: 300px;
	margin-left: 110px;
}

#t4{
	margin-top: 50px;
	font-family: "楷体";
	font-size: 35px;
}

#user{
	margin-left: 88px;
	margin-top: 20px;
	height: 85px;
}

.search{
	margin-left: 30px;
	margin-top: 30px;	
}

#submit{
	height: 40px;
	width: 70px;
	font-size: 24px;
	font-family: "楷体";
	margin-left: 123px;
	margin-top: 20px;
	background-color:#99CCCC;
}

.t2{
	margin-left: 160px;
}


#bottom{
	height:160px;
	margin-top:110px;
	background-color:#99CCCC;
}

#bottom-left{
	width:550px;
	float:left;
}

#bottom-right{
	width:450px;
	margin-left:300px;
	margin-top:10px;
	float:left;
}

#t6{
	float:top;
	padding-top:40px;
	margin-left:65px;
}

.t5{
	padding-top:10px;
	padding-left:25px;
	float:left;
	font-size: 19px;
	color:black;
}