.bodystyle{
    width:100%;
	height:882px;
	margin-top:0px;
    position:absolute;
	background-color:#FCFCFC;	
/*    background:url('pictures/9.jpg') no-repeat;*/
/* 	opacity: 0.5; */

}


#header{
	margin-top:0px;
	height: 70px;
	width:100%;
	background-color:#99CCCC;
	float = top;	
}

.logo{
	height:70px;
	margin-left:100px;
	float:left
}

.text1{
	font-size:20px;
	color: white;
	font-family:"楷体";
	padding-left:20px;
	padding-top:35px;
	float:left;
}

.menu{
	padding-left:500px;
	float:left;
}

.t{
	float:left; 
	display:inline;
	font-family: "楷体";
    padding-left:8px;
    text-align: center;
	font-size: 18px;
	margin-top:20px;
	color: black;	
}

.t0{
	color: #99CCCC;
	float:left; 
	display:inline;
	font-family: "楷体";
    padding-left:8px;
    text-align: center;
	font-size: 18px;
	margin-top:20px;	
}

#search1{
	height:50px;
	padding-top:50px;
	padding-left:140px;
	float:left;
}

.logo1{
	height:55px;
	margin-left:65px;
	float:left
}

#search{
	padding-left:20px;
	float:left;
}

.t1{
	padding-top:0;
	padding-left:150px;
	float:left;
	font-size: 18px;
	color:#007979;
}
.t2{
	padding-left:25px;
	float:left;
	font-size: 18px;
	color:#2894FF;
}

.button1{
	font-size:35px;
	color: green;
	font-family:"楷体";
	margin-left:10px;
	float:left;
	text-align: center;
}

#main{
	float=top;
	height:570px;
	width:1150px;
	margin-left:90px;
	margin-top:20px;
/* 	border-style:solid;
	border-width:5px;
	border-color:#ACD6FF; */
	
}

#left{
	margin-top:40px;
	width:220px;
	height:410px;
	background-color:#8BA4CA;
	float:left;
}

.t3{
	font-family:"楷体";
}

#center{
	margin-top:40px;
	width:680px;
	height:410px;
	display: inline;
	background-color:#E0E0E0;
	float:left;
}

#tabpic{
	margin-left:14px;
}

#right{
	margin-top:40px;
	width:250px;
	height:410px;
	background-color:#BEBEBE;
	float:left;
}
.fuwu{
	width:247px;
	margin-top:5px;
}

#bottom{
	height:170px;
	margin-top:50px;
	background-color:#99CCCC;
}

#bottom-left{
	width:550px;
	float:left;
}

#bottom-right{
	width:450px;
	margin-left:300px;
	margin-top:10px;
	float:left;
}

#t4{
	float:top;
	padding-top:40px;
	margin-left:65px;
}

.t5{
	padding-top:10px;
	padding-left:25px;
	float:left;
	font-size: 19px;
	color:black;
}